.card {
  background: #f9f9f9;
  text-align: center;
  place-content: center;
  place-items: center;
  height: 250px;
  width: 250px;
  border: 2px dashed #333;
  border-radius: 6px;
}
.flex-area {
  display: flex;
  gap: 20px;
}
header {
  text-align: center;
  background-color: aqua;
}
header h1,
header p {
  margin: 0;
  padding: 10px 0;
  color: white;
}
nav {
  align-items: center;
  justify-content: center;
  text-align: center;
}
nav ul {
  gap: 10px;
}
nav ul li a {
  background-color: rgb(22, 228, 228);
  color: white;
  padding: 10px 15px;
  display: inline-block;
}
/* ukuran 1024px => desktop++ */
@media screen and (min-width: 1024px) {
  /* masukkan tag / target selector */
  header {
    background-color: blue;
  }
}

/* ukuran 768-1023px => tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* masukkan tag / target selector */
  header {
    background-color: green;
  }
}

/* ukuran max 767px => smartphone */
@media screen and (max-width: 767px) {
  /* masukkan tag / target selector */
}
